body{
    background-image: url(image/background.png);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #ECF2FE;
}

h1{
    font-family: 'Roboto Condensed', sans-serif;
    color: #ECF2FE
}

h2 {
    color: #ECF2FE;
    border-bottom: 1px solid #ECF2FE;
}

header {
    border-bottom: 5px solid #7A8BA9;
}

.about img {
    width: 200px;
    margin-bottom: 0px;
}

/* Portfolio images */
img{
    margin-bottom: 20px;
}



/* Footer Style */
footer {
    position: fixed;
    bottom: 0;
    height: 40px;
    width: 100vw;
    background: #7A8BA9;
    border-top: 1px solid #0E0D59;
    text-align: center;
}

.copyRight p {
    color: white;
    padding: 10px;
}