body{
    background-image: url(image/background.png);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #ECF2FE;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: #7A8BA9;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 36px;
}

h2 {
    color: #7A8BA9;
    font-family: 'Open Sans Condensed', sans-serif;
    border-bottom: 1px solid #7A8BA9;
}

header {
    border-bottom: 2px solid #7A8BA9;
}

.about img {
    width: 300px;
    margin-bottom: 0px;
}

/* Portfolio images */
img{
    margin-bottom: 20px;
}



/* Footer Style */
footer {
    background: #7A8BA9;
}

footer a{
    color:#ECF2FE; 
}